#footer {
  padding-top: 5em;
}

#region-footer-first {
  margin-top: 3em;
  border-top: 3px solid black;
  padding-top: 1em;
  padding-bottom: 5em;
}

.region-footer-first .panel-3col .panel-col-first {
  width: 520px !important;
  background-color: yellow;
  border-right: 1px black solid;
  margin-right: 20px;
}
