
.pane-main-file,
.pane-files-films {
  border-bottom: 3px solid black;
}

.pane-files,
.pane-main-file,
.pane-files-films,
.pane-files-hands-on {
  font-family: $font-stack-futura;
  clear: both;

  tbody {
    border: 0px solid white !important;
  }

  .views-row {
    width: 45%;
    margin-bottom: 1em;
    float: left;
    margin-top: 1em;
  }

  .views-row-odd {
    margin-right: 10%;
  }

  .views-row-even {
    float: right;
  }

  .view-content

  img {
    width: 25px !important;
    padding-right: 5px;
    height: auto;
  }
}

.pane-files-hands-on {
  border-top: 1px solid #d3d7d9;
  margin-bottom: 2em;
}

.page-admin .view-subview-image-collection-file {
  display:block;
}

.pane-node-field-program-collection .file {
  font-family: $font-stack-futura;
  width: 45%;
  float: left;
  margin-right: 5%;
  vertical-align: top;
}


.pane-node-field-program-collection img.file-icon {
  width: 30px;
  margin: 0em 1em 0em 1em;
  padding-bottom: 20px;
  float: left;
}

.field-collection-view {
  padding:  0 !important;
  margin: 0 !important;
  clear: both;
}

.field-collection-view img.file-icon,
img.file-icon {
  width: 20px;
  margin: 0em 1em 0em 0em;
  padding-bottom: 20px;
  float: left;
}

.field-collection-description,
.field-collection-view-links,
.action-links-field-collection-add {
  display: none;
}