# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
sites/all/drush/*aliases.drushrc.php

/applets
/cache
/logs
/stats
/usage
/google*.html

/.idea
sites/all/modules/devel
build/node_modules
