.pane-node-field-credit-text {
  color: #666;
  padding-bottom: 1em;
  border-bottom: 1px solid #d3d7d9;
  font-size: 0.9em;
  line-height: 1.2em;
}

.pane-node-field-supported-by {
  color: #666;
  padding-bottom: 1em;
  border-bottom: 1px solid #d3d7d9;
  font-size: 0.9em;
  line-height: 1.2em;
}

/* contributors */
.view-contributors {
  color: #666;

  .contribution {
    font-family: $font-stack-futura;
    margin-right: 0.25em;
  }
}

.pane-node-field-contributor .field-collection-view {
  margin: 0px;
  padding: 0px;
  border-bottom: 0px;
}