.front .pane-events-timeline-3 {
  h2.pane-title {
    border-top: 1px solid #999;
    padding-top: 1em;
  }
  margin-top: 60px;

  & > .pane-content {
    height: 296px !important;
    overflow: hidden;
  }

  .vco-navigation {
    display: none;
  }
}

.view-landing-page-events {

  .views-row {
    border-bottom: 1px solid #d3d7d9;
    margin-bottom: 1em;
    padding-bottom: 1em;
  }

  .views-row-last {
    border-bottom: none;
  }

  .views-field-title {
    font-family: $font-stack-futura;
    text-decoration: none !important;
    color: black !important;
    margin-bottom: 0.5em;
    float: left;
    width: 180px;
  }

  .views-field-field-time-place {
    width: 100px;
    float: right;
    font-family: $font-stack-futura;
    color: #666;
    font-size: 0.8em;
    line-height: 1.2em;
  }

  .views-field-field-image-collection {
    clear: both;
    padding: 0.25em 0 0 0;
    margin: 0 0 1em 0;

    img {
      margin: 0 auto;
      display: block;
    }
  }

  .views-field-field-time-place-1 {
    font-family: $font-stack-futura;
    color: #666;
    font-size: 1em;
    line-height: 1.2em;
  }
}