.pane-landing-page-user-blog {

  .views-row {
    border-bottom: 1px solid #d3d7d9;
    margin-bottom: 3em;
  }

  .views-field-title {
    font-family: $font-stack-futura;
    font-size: 22px;
    line-height: 1.1em;
    width: 60%;
    float: left;
  }

  .views-field-created,
  .views-field-name {
    width: 40%;
    float: right;
    font-family: $font-stack-futura;
    color: #666666;
    font-size: 0.8em;
    line-height: 1.2em;
  }

  .views-field-body {
    clear: both;
    padding-top: 1em;
  }
}