
.front #node-130{
  .field-name-body {
    font-size: 40px;
    line-height: 46px;
    text-align: center;
    color: #666;
  }
  p {
    margin: 0 0 1em 0;
  }
}

@include responsive($xs-sm) {
  .front #node-130 {
    .field-name-body {
      font-size: 20px;
      line-height: 24px;
    }

    p {
      margin-bottom: 2.5em;
    }
  }
}