.front .pane-events-timeline-home {

  margin-top: 60px;

  h2.pane-title {
    border-top: 1px solid #999;
    padding-top: 1em;
  }

  & > .pane-content {
    height: 296px !important;
    overflow: hidden;
  }

  .vco-navigation {
    display: none;
  }

  .view-events-timeline-home {
    position: relative;
  }

  .view-header {
    position: absolute;
    top: 275px;
    z-index: 1000;
    width: 100%;
    text-align: right;
    right: 6px;

    a {
      font-family: FuturaPTMedium-Reg, Futura, 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
      font-size: 0.9em;
      font-weight: normal;
      letter-spacing: 2px;
    }
  }
}

.view-landing-page-events {

  .views-row {
    border-bottom: 1px solid #d3d7d9;
    margin-bottom: 1em;
    padding-bottom: 1em;
  }

  .views-row-last {
    border-bottom: none;
  }

  .views-field-title {
    font-family: $font-stack-futura;
    text-decoration: none !important;
    color: black !important;
    margin-bottom: 0.5em;
    float: left;
    width: 180px;
  }

  .views-field-field-time-place {
    width: 100px;
    float: right;
    font-family: $font-stack-futura;
    color: #666;
    font-size: 0.8em;
    line-height: 1.2em;
  }

  .views-field-field-image-collection {
    clear: both;
    padding: 0.25em 0 0 0;
    margin: 0 0 1em 0;

    img {
      margin: 0 auto;
      display: block;
    }
  }

  .views-field-field-time-place-1 {
    font-family: $font-stack-futura;
    color: #666;
    font-size: 1em;
    line-height: 1.2em;
  }
}

@include responsive($xs-sm) {

  .front .pane-events-timeline-home {
    margin-top: 20px;

    & > .pane-content {
      padding-bottom: 30px;
    }

    h2.pane-title {
      margin-bottom: 0;
    }

    .view-events-timeline-home {
      .view-header {
        top: 302px;
      }
    }
  }

  .view-landing-page-events {
    .views-field-title {
      margin-bottom: 0;
      float: none;
      width: 100%;
    }

    .views-field-field-time-place {
      float: none;
      width: 100%;
      margin-bottom: 0.5em;
      font-size: 0.9em;
    }
  }

  .view-events-geofield-map {
    .view-content > div {
      height: 300px !important;
    }
  }
}