.pane-landing-page-first-news,
.pane-news-sidebar {

  border-top: 3px solid black;

  .field-content {
    font-size: 20px;
    line-height: 26px;
  }

  .more-link {
    float: right;
    font-family: $font-stack-futura;
  }

  .views-row {
    border-bottom: 1px solid #d3d7d9;
    margin-bottom: 1em;
  }

  .views-row-last {
    border-bottom: none;

  }

  .views-field-title {
    font-family: $font-stack-futura;
    font-size: 22px;
    text-align: center;
    line-height: 1.1em;
  }

  .views-field-created {
    margin: 0px 0px 1em 0px;
    font-family: $font-stack-futura;
    color: #666;
    font-size: 0.8em;
    padding: 2px;
    text-align: center;
  }

  .field-name-field-image-title {
    font-family: $font-stack-futura;
    font-size: 0.7em;
  }

  img {
    margin: 0 auto;
    display: block;

  }
}

@include responsive($xs-sm) {
  .pane-landing-page-first-news,
  .pane-news-sidebar {

    border-top: 1px solid #999;

    .field-name-field-image-title {
      font-size: 0.9em;
      line-height: 1.3em;
      margin-bottom: 0;
      color: #999;
    }

    img {
      width: 100%;
      height: auto;
      margin-bottom: 6px;
    }

    .field-content {
      font-size: 16px;
      line-height: 22px;
    }

    .more-link {
      float: none;
      display: block;
      text-align: left;
      margin-top: 12px;
    }
  }
}


.pane-landing-page-more-news {

  border-top: 1px solid #999;
  padding-top: 1em;

  .views-row  {
    width: 47.5%;
    float: left;

    .views-field-title {
      font-family: $font-stack-futura;
      text-align: center;
    }

    .views-field-created {
      font-family: $font-stack-futura;
      text-align: center;
      color: #999;
    }

    img {
      width: 100%;
      height: auto;
      margin: 0 auto;
      display: block;
    }

    .field-name-field-image-title {
      padding-top: 0.25em;
      font-family: $font-stack-futura;
      color: #666666;
      font-size: 0.8em;
      letter-spacing: 1px;
      line-height: 1em;
    }

    .more-link {
      float: right;
      font-family: $font-stack-futura;
    }
  }

  .views-row-last {
    float: right;
  }
}

.node-type-news {
  .pane-node-title {
    font-family: $font-stack-futura;
    font-size: 22px;
    width: 60%;
    float: left;
    line-height: 1.2em;

    @include responsive($xs) {
      width: 100%;
      float: none;
      font-size: 20px;
    }
  }

  .pane-node-created {
    width: 30%;
    float: right;
    font-family: $font-stack-futura;
    text-align: right;

    @include responsive($xs) {
      width: 100%;
      float: none;
      text-align: left;
    }
  }

  .field-collection-container {
    border-bottom: 0px solid #D3D7D9;
    margin-bottom: 0em;
  }
  .gallery-two-columns img {
    margin: 0 auto 0 auto;

    @include responsive($xs-sm) {
      max-width: 100%;
      height: auto;
    }
  }

}

@include responsive($xs-sm) {
  .pane-landing-page-more-news {

    display: none;

    .views-row {
      width: 100%;
      float: none;
      border-bottom: 1px solid #999;
      padding-bottom: 1em;
      margin-bottom: 1em;

      &.views-row-last {
        border-bottom: none;
        padding-bottom: 0;
      }
    }

    .views-field-title-field {
      font-size: 16px;
      line-height: 22px;
    }

    .views-field-created {
      margin: 0px 0px 1em 0px;
      color: #666;
      font-size: 16px;
      line-height: 22px;
      padding: 2px;
    }

    .views-field-body {
      font-size: 16px;
      line-height: 22px;
    }
  }
}