.main-funders-text {
  font-family: $font-stack-futura;
  font-size: 0.9em;
  color: #666;
}

.main-funders-text p {
  margin-bottom: 0px;
}

.main-funder-logo {
  float: left;
  a {
    display: block;
  }
}