#header {
  padding: 80px 0 140px 0;
  letter-spacing: 1px;
  position: relative;

  #block-block-1 {
    background-color: yellow;
    font-family: $font-stack-futura;
    text-align: center;
    padding: 10px 0 10px 0;
    margin-top: 10px;

    p {
      margin: 0;
    }
  }

  #logo {
    padding-bottom: 20px;
    float: none;
    display: block;
  }

  a:hover, a:visited {
    color: black;
  }

  a:link {
    color: black;

    img {
      margin: 0 auto;
      height: auto;
      display: block;
      width: 33%;
    }
  }

  h2 {
    margin: 0 !important;
    color: #b4b4b4;
  }

  li.leaf {
    padding: 0px !important;
  }

  //hide gears (contextual links) next to navigation
  .contextual-links-wrapper {
    display: none;
  }

  .dropDownTrigger {
    display: none;
  }
}

