#block-menu-menu-main-menu-2 {
  position: absolute;
  top:225px;
  left: 50%;
  width: 940px;
  margin-left: -470px;
  padding: 20px 0 10px 0;
  z-index: 100;
  background-color: white;
  font-family: $font-stack-futura;
  font-size: 26px;
  font-weight: normal;
  letter-spacing: 1px;
  border-bottom: 1px solid black;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  li {
    display: inline-block;
    list-style: none !important;
    list-style-image: none !important;
    list-style-type: none !important;
    margin: 0px 12px;

    a:link,
    a:focus {
      border-bottom: 1px solid transparent;
      padding: 0 0 2px 0;
      text-decoration: none;
    }

    a:hover,
    a.active-trail {
      border-bottom: 5px solid white;
      text-decoration: none;
    }

  }

  ul li.leaf {
    list-style-image: none !important;
  }

  li.first {
    position: absolute;
    left: 0px;
    margin: 0px !important;
  }

  li.last {
    position: absolute;
    right: 0px;
    margin: 0px !important;
  }

  li.meta-trigger {
    display: none;
  }
}

// The default style centers the menu items with a 12px margin between them
// and places the first item completely to the left and the last one
// completely to the right. These are the desired "sane defaults" for new languages.
//
// Below fine-tuned styles are provided for each language where the centered
// block of items are given a negative left margin as to make the distance of this
// block to the first item the same as the distance from the block to the last item.
// Also, the margin between items can be tweaked for languages with longer words.

// English
.i18n-en #block-menu-menu-main-menu-2 {
  ul { margin-left: -44px; }
  li { margin: 0px 12px; }
}

// German
.i18n-de #block-menu-menu-main-menu-2 {
  ul { margin-left: -80px; }
  li { margin: 0px 9px; }
}

// Spanish
.i18n-es #block-menu-menu-main-menu-2 {
  ul { margin-left: -55px; }
  li { margin: 0px 7px; }
}

// French
.i18n-fr #block-menu-menu-main-menu-2 {
  ul { margin-left: 0px; }
  li { margin: 0px 7px; }
}

// Korean
.i18n-ko #block-menu-menu-main-menu-2 {
  ul { margin-left: 0px; }
  li { margin: 0px 16px; }
}

// Turkish
.i18n-tr #block-menu-menu-main-menu-2 {
  ul { margin-left: 14px; }
  li { margin: 0px 9px; }
}