#header #block-menu-menu-meta-menu {
  position: absolute;
  top: 12px;
  width: 50%;
  margin: 0 25%;
  left: 0px;
  z-index: 1000;
  font-family: $font-stack-futura;

  .content {
    text-align: center;
    margin: 0 auto;
  }

  ul {
    margin: 0;
    padding: 0;
    background-color: white;
    text-align: center;

    li {
      list-style: none;
      display: inline-block;
      text-align: center;
      padding: 0;
      margin: 0 30px 0 0;
      position: relative;

      &.last {
        margin-right: 0px;
      }

      a {
        display: block;
        color: #b4b4b4;
      }

      ul {
        position: absolute;
        left: 0px;
        display: none;

        li {
          float: none;
          display: inline;
          text-align: left;
          a {
            width: 90px;
            position: relative;
            &:hover {
              color: #000;
            }
          }
        }
      }

      &:hover ul {
        display: block;
      }
    }
  }
}