.view-programs .views-row,
.view-galleries .views-row,
.view-exhibitions-view .views-row,
.view-physical-exhibits .views-row,
.view-films .views-row  {
  width: 45%;
  float: left;
  margin: 0 0 40px 0;
  border-bottom: 1px solid #d3d7d9;
  padding: 2em 0 3em 0;

  p {
    display: block;
    -webkit-margin-before: 0em !important;
    -webkit-margin-after: 0em !important;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  }

  @include responsive($xs-sm) {
    padding: 0 0 1em 0;

    &:first-child {
      padding-top: 1em;
    }
  }
}

.view-programs,
.view-galleries,
.view-exhibitions-view,
.view-physical-exhibits,
.view-films {

  .views-row-odd {
    margin-right: 10%;
  }

  .views-field-title,
  .views-field-title-field {
    font-family: $font-stack-futura;
    font-size: 22px;
    line-height: 1.1em;
    text-align: center;
    letter-spacing: 2px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 0 1em 0;

    @include responsive($xs) {
      font-size: 20px;
    }
  }

  img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 1.6em;
  }
}

.field-collection-container {
  border-bottom: 0px solid white !important;
}