.page-node-add-gallery {
  .fieldset-description {
    font-family: $font-stack-futura;
    margin: 1em 0 1em 0;
  }

  .field-name-field-image-collection {
    #field-image-collection-values--2 {
      width: 100% !important;
    }

    .description {
      font-family: $font-stack-futura;
      margin: 1em 0 1em 0;
      font-size: 1em !important;
      color: black;
    }

    .group-more legend {

      .fieldset-legend {
        border: 2px solid black;
        padding: 3px 0 0 1em;;
        background-color: white !important;
        font-size: 1em;


        fieldset.collapsed {
          height: 2em !important;
        }
      }

    }

    #edit-field-image-collection-und-0-remove-button {
      margin-top: 2em;
    }


    .horizontal-tabs-list {
      font-family: $font-stack-futura;
      border: 1px solid black;
    }

    .field-group-htab {

      .fieldset-legend {
        display: none;
      }

    }

  }

}
