.tabs ul.primary {
  border: none;
  margin: 0px;
  padding: 3px 0px 5px 10px;
  background-color: black;
  letter-spacing: 1px;
}

.tabs ul.primary li {
  margin-right: 10px;
  background-color: transparent;
  border: none;
}

.tabs ul.primary li a {
  color: white !important;
  font-family: $font-stack-futura;
  font-weight: normal;
  font-style: normal;

  background-color: transparent;
  border: 1px solid transparent;
  border-bottom-style: none;
  height:auto;
  margin-right:0.5em;
  padding:2px 0 1px 0;
  text-decoration:none;
}


.tabs ul.primary li a:hover {
  border-bottom: 1px solid white;
}

.tabs ul.primary li.active a{
  border-bottom: 1px solid white;
}