.page-events {

  .panel-2col-stacked .panel-col-bottom {
    width: 100% !important;
  }

  .pane-views {
    border-top: 1px solid #d3d7d9;
    padding-top: 1em;
  }

  .masonry-item {
    margin: 0 0 2em 0 !important;
    text-align: center;

    .views-field-title {
      font-family: $font-stack-futura;
      font-size: 22px;
      line-height: 1.1em;

      @include responsive($xs) {
        margin-bottom: 5px;
      }
    }

    .views-field-field-event-date {
      font-family: $font-stack-futura;
      color: #666;

      @include responsive($xs) {
        margin-bottom: 5px;
      }
    }

    img {
      @include responsive($xs-sm) {
        width: 100px;
        height: auto;
      }
    }
  }

  .pane-events-past .masonry-item {
    margin-bottom: 2em;
  }

  @include responsive($xs) {
    .view.view-display-id-default .masonry-item {
      float: none;
      width: 100%;
    }
  }
}

.pane-events-all {
  .views-field-title {
    font-family: $font-stack-futura;
    float: left;
    margin-right: 1em;
    margin-bottom: 0.25em;

    @include responsive($xs) {
      float: none;
    }
  }

  .views-row {
    clear: both;
    @include responsive($xs) {
      margin-bottom: 1em;
    }
  }
}

.node-type-event {

  .pane-custom {
    font-family: $font-stack-futura;
    font-size: 0.9em;
    color: #666;
    letter-spacing: 2px;
    text-align: center;

    p {
      margin: 0 0 1em 0 !important;
      padding: 0;

    }
  }

  .panel-2col-bricks .panel-separator  {
    margin: 0 !important;
  }

  .pane-node-title {
    padding: 0;
  }

  .view-event-if-permanent-since-else-from-start-to-end-date {
    font-family: $font-stack-futura;
    text-align: center;
    color: #666;
    border-bottom: 1px solid #D3D7D9;
    padding: 1em 0 1em 0;

    p {
      margin: 0 !important;
    }
  }

  .location {
    font-family: $font-stack-futura;
    text-align: center;
    color: #666;
    border-bottom: 1px solid #D3D7D9;
    padding: 1em 0 1em 0;
    margin-bottom: 1em;
  }

  .pane-node-field-credits-collection {

    h2.pane-title {
      margin-bottom: 0;
    }

    color: #666;
    padding-bottom: 1em;
    border-bottom: 1px solid #d3d7d9;
    font-size: 0.9em;
    text-align: center;
    line-height: 1.2em;

    ul {
      list-style: none;
      padding: 0;
      font-family: $font-stack-futura;
      margin: 0.5em 0 0;
    }
  }

  .field-name-field-contribution {
    margin-right: 0.25em;
  }


  .pane-node-body {
    clear: both;
  }


  .pane-related-event-exhibition {

    background-color: #f9f9f9;
    padding: 0.5em 1em 1em 1em;
    margin-top: 1em;

    .view-header {
      font-family: $font-stack-futura;
      font-size: 0.9em;
      font-weight: normal;
      letter-spacing: 2px;
      text-align: center;
      color: #666;
      margin: 0em 0 0 0;
      padding: 0;

      p {
        margin: 0 !important;
      }
    }

    .view-content {
      margin: 0;
      padding: 0;
      font-family: $font-stack-futura;
      text-align: center;
    }
  }

  .panel-col-middle {
    border-top: 3px solid black;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
  }


  .field-collection-view {
    border: 0px !important;
  }

  .field-name-field-event-auth-orga-function {
    font-family: $font-stack-futura;
    font-weight: normal;
  }

  .field-label {
    font-family: $font-stack-futura;
    font-weight: normal;
  }

  .pane-node-field-website,
  .pane-node-author {

    border-bottom: 1px solid  #D3D7D9;
    padding-bottom: 1em;
    text-align: center;
    color: #666;
    font-family: $font-stack-futura;


    h2.pane-title {
      font-size: 0.9em;
      font-weight: normal;
    }
  }

  .pane-files {
    border-top: 1px solid #D3D7D9;
    margin-top: 1em;
    border-bottom: none !important;

  }

  .panel-col-bottom {
    border-top: 3px solid black;
  }


  .pane-related-exhibits {
    margin-top: 1em;
    border-top: 1px solid #D3D7D9;
    font-family: $font-stack-futura;

    .views-field-title {
      text-align: center;
    }

    .views-field-type {
      margin-bottom: 0.25em;
      color: #acacac;
      text-align: center;
      font-size: 0.7em;
      line-height: 1.2em;
    }

    img {
      width: 130px;
      height: auto;
    }

  }
}

.gallery_630_cropped-next-previous {
  text-align: right;
  padding-top: 0.5em;
  padding-bottom: 1em;

  font-family: $font-stack-futura;
  font-size: 0.9em;
  font-weight: normal;
}

/* timeline */
.storyjs-embed.sized-embed {
  overflow: hidden;
  border: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin: 0 !important;
  clear: both;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25) !important;
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25) !important;
}

.vco-slider .slider-container-mask {
  background-color: #fbfbfb;
}

.vco-timeline .vco-navigation .timenav-background {
  background-color: #f5f5f5 !important;
}

.vco-timeline .timenav-line,
.vco-timeline .event-line {
  background-color:  black !important;
}

.vco-storyjs .vco-feature h3 {
  font-family: $font-stack-futura !important;
  color: black !important;
}

.vco-storyjs h3 {
  color: black !important;
}



.vco-slider .slider-item .content .content-container .text {
  width: 50% !important;
}

.vco-timeline .vco-navigation .timenav .content .marker.active {
  .line {
    background-color: black !important;
  }

  .dot {
    background-color: black !important;
    box-shadow: 0px 0px 1px 1px #000000;
  }
}

.pane-gallery-full-width-light {
  .panel-2col {
    .panel-col-first {
      margin-left: 0;
      width: 63%;
      float: left;
    }
    .panel-col-last {
      margin-left: 3%;
      width: 34%;
      float: left;
    }

    @include responsive($xs) {
      .panel-col-first,
      .panel-col-last {
        width: 100%;
        float: none;
        margin: 0;
        padding: 0;
      }
    }
  }
}

div.field-group-tabs-wrapper div.field-type-datetime fieldset {
  border: 1px solid #ccc;
  margin: 1em 0;
  padding: 2.5em 0 0;
  position: relative;
}

@include responsive($xs-sm) {

  .vco-slider .slider-item .content {

    .content-container {
      padding-bottom: 30px;
    }

    .pad-top .text .container {
      padding-top: 10px;
    }

    .content-container .text .container h2.date {
      margin-bottom: 8px;
    }
  }

  .vco-storyjs .vco-feature {
    h3 {
      margin-bottom: 10px !important;
      font-size: 24px;
      line-height: 26px;
    }

    p {
      margin-bottom: 10px;
    }
  }
}