.page-projects {

  .views-row {
    border-bottom: 1px solid #d3d7d9;
  }

  .views-field-title {

    font-family: $font-stack-futura;
    font-size: 22px;
    line-height: 1.1em;
    text-align: center;
    letter-spacing: 2px;
    font-weight: normal;
    text-transform: uppercase;
  }

  .views-field-field-open-closed {
    display: table;
    background-color: #f6f6f6;
    padding: 10px;
    font-family: $font-stack-futura;

    margin: 0.25em auto 0.5em auto;

    .views-label {
      color: #666;
      display: inline-block;
      margin-right: 0.25em;
    }
    .field-content {
      display: inline-block;
    }
  }

  .pane-projects img {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;

    @include responsive($xs-sm) {
      width: 100px;
      height: auto;
    }
  }

  @include responsive($xs) {
    .view.view-display-id-default .masonry-item {
      float: none;
      width: 100%;
      margin: 1em 0;

      .views-field-body {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}

.node-type-project {


  .pane-node-title {
    h2.pane-title {
      font-family: $font-stack-futura;
      font-size: 14px;
      font-weight: normal;
      letter-spacing: 2px;
      text-align: center;
      color: #666666;
      margin: 0em 0px 1em 0px;
    }
  }


  .panel-col-last .panel-pane {
    border-bottom: 1px solid #d3d7d9;
    padding-bottom: 1em;
  }

  .field-name-field-open-closed {
    .field-items {
      background-color: #f4f4f4;
      font-family: $font-stack-futura;
      text-align: center;
      width: 80%;
      margin: 0 auto;
      padding: 10px;
      letter-spacing: 1px;
      font-size: 22px;
    }
  }

  .field-type-text-with-summary p {
    margin: 0 !important;
  }



  .pane-node-field-credits-collection {

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      list-style: none;
      font-family: $font-stack-futura;
      float: left;
      margin: 0 0.5em 0 0;
      padding: 0 0.5em 0 0;
    }

  }

  .field-name-field-partners-sponsors-links {
    .field-label {
      font-family: $font-stack-futura;
    }
  }

  .view-mode-gallery-630 {
    img {
      margin: 0 auto;
    }
  }
}
