#edit-terms-of-use .fieldset-wrapper {
  height: 150px;
  overflow-y: scroll;
}

#edit-terms-of-use .fieldset-wrapper p {
  width:650px;
}


.page-user-register {

  ul.vertical-tabs-list {
    display: none;
  }

  .vertical-tabs {
    background-color: #ededed;
    border: none;
    margin: 0 0 3em;

    label {
      font-family: $font-stack-futura;
      font-weight: normal;

      display:inline-block;
      width:100px;
      vertical-align: bottom;
    }

    .description {
      width: 75%;
      font-family: $font-stack-futura;
      margin-top: 0.25em;
    }

    input {
      width: 75%;
      border: none;
    }
  }

  #edit-simplenews {
    background-color: #ededed;
    padding: 1em;
    font-family: $font-stack-futura;
    margin-bottom: 3em;

    .fieldset-description {
      display: inline-block;
      width: 400px;
    }

    #edit-newsletters {
      display:inline-block;
    }
    .form-item-newsletters-531 {
      display: inline-block;
      vertical-align: top;
      margin: 0;
    }
  }

  #edit-group_newsletter {
    display: block !important;
    margin-top: 10px !important;
    border-top: 25px solid white;

    .fieldset-legend {
      margin-top: 0;
    }

    .fieldset-description {
      font-family: FuturaPTMedium-Reg, sans-serif;
    }

    .form-type-checkbox {
      input {
        width: auto;
        margin: -2px 5px 0 0;
      }

      label {
        font-size: 1.3em;
      }
    }
  }

  .recaptcha_r1_c1, .recaptcha_r2_c1, .recaptcha_r2_c2, .recaptcha_r3_c1, .recaptcha_r3_c2, .recaptcha_r3_c3, .recaptcha_r4_c2, .recaptcha_r4_c4, .recaptcha_r7_c1, .recaptcha_r8_c1 {
    display:none;
  }

  #recaptcha_widget_div td {
    background:none !important;
  }


  #edit-terms-of-use {
    background-color: #ededed;
    padding: 1em 0 1em 1em;
    font-family: $font-stack-futura;
    margin-bottom: 3em;

    .fieldset-legend {

    }

    .jspScrollable {
      border: none !important;
      background-color: white !important;
      padding: 0em 0 0em 1em !important;
    }


    h2 {
      font-family: $font-stack-futura;
      font-style: normal;
      color: #666;
      font-weight: normal;
      font-size: 1em;
    }

    p {
      font-family: $font-stack-futura;
    }
  }

  .captcha {
    width: 50%;
    background-color: #ededed;
    padding: 1em;
    font-family: $font-stack-futura;
    display: inline;

    tbody {
      background-color: white;
      padding: 0.5em;

      #recaptcha_image {
        padding-top: 0.5em;
      }
    }
  }

  #edit-actions {
    float: right;

    #edit-submit {
      -webkit-appearance: none;
      border-radius: 4px;
      background-clip: border-box;
      cursor: pointer;
      color: #333333;
      font-weight: normal;
      line-height: 1.3em;
      font-family: $font-stack-futura;
      background: #ededed none;
      border: none;
      font-size: 2em;
      overflow: visible;
      margin: 0;
      padding: 3px 10px;
      text-shadow: none;
      vertical-align: top;
      width: auto;
    }

    #edit-submit:hover {
      background-color: #f6f6f6;
    }
  }

  legend {
    position: relative;
    top: 20px;
    margin: 20px 0;
  }
}

@include responsive($xs-sm) {

  .page-user-register {
    .vertical-tabs {

      margin-bottom: 1.5em;

      input {
        width: 100%;
      }
      .description {
        width: 100%;
      }
    }

    #edit-simplenews {

      margin-bottom: 1.5em;

      .fieldset-description {
        width: auto;
      }
    }

    #edit-terms-of-use {

      margin-bottom: 1.5em;
      padding: 1em;

      .fieldset-wrapper {
        width: auto;
        p, h2, ul {
          width: auto;
          padding: 0 5px;
        }
        ul {
          padding-left: 2em;
        }
      }

      .jspScrollable {
        padding: 0 !important;
      }
    }

    .captcha {
      width: auto;
      display: block;

      #edit-captcha-form {
        width: auto;
        margin: 0 -1.5em;
        text-align: center;

        #recaptcha_widget_div {
          display: inline-block;
        }
      }
    }

    #edit-actions {

      float: none;
      #edit-submit {
        width: 100%;
      }
    }
  }
}

