#block-search-form {
  position: absolute !important;
  top: 10px;
  left: 80px;
  width: 200px;

  input {
    border: 1px solid #d3d7d9;
    font-family: $font-stack-futura;
  }

  .form-submit {
    @include visuallyhidden;
  }
}