.view-related-news .views-field-title .field-content a:link,
.view-related-news .views-field-title .field-content a:visited,
.view-related-news .views-field-title .field-content a:focus {

  font-family: $font-stack-futura;
  text-decoration: none !important;
  color: black !important;
  margin-bottom: 0.5em;
  float: left;
  width: 145px;

}

.view-related-news .views-row {
  margin-bottom: 1em;
  border-bottom: 1px solid #999;

}
.view-related-news .views-field-created {
  font-family: $font-stack-futura;
  font-size: 0.7em;
  float: right;

}

.view-related-news img{
  margin: auto; display: block;
}


.view-related-news .field-collection-container {
  border-bottom: 0px;
}