.related-programs .views-row {
  width: 45%;
  font-family: $font-stack-futura;
  font-size: 20px;
  color: #555;
  letter-spacing: 3px;
  margin-bottom: 2em;
  text-align: center;
  height: 120px;
}

.view-related-programs-is-a-gallery-of- .views-field-title {
  font-family: $font-stack-futura;
  float: left;
  padding-top: 10px;
  margin-right: 20px;
}

.view-related-programs-is-a-gallery-of- .views-field-field-program-icon {
  float: left;
}