.page-users {

  .pane-user-list {

    table {
      width: 100%;

      tr.even, tr.odd {
        background-color: white !important;
        border-bottom: 1px solid #ccc;
        padding: 4px 0 4px 0;

        img {
          height: 36px;
          width: auto;
          margin-left: 1em;
        }
      }

    }

    .views-field-realname {
      font-family: $font-stack-futura;
      width: 200px;
    }

    th.views-field-access {
      width: 120px;
      font-family: $font-stack-futura;
    }


    th.views-field-created {
      width: 120px;
      font-family: $font-stack-futura;
    }

    th.views-field-field-user-country {
      width: 120px;
      font-family: $font-stack-futura;
    }

    th.views-field-view {
      font-family: $font-stack-futura;
    }

    .title {
      font-family: $font-stack-futura;
    }

    .type {
      font-family: $font-stack-futura;
      color: #666;
      font-size: 0.7em;
      letter-spacing: 1px;

    }

  }

  .pane-user-online {

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      border-top: 1px solid #d3d7d9;

      li {
        list-style: none;
        margin: 0;
        border-bottom: 1px solid #d3d7d9;
        font-family: $font-stack-futura;
        padding: 2px 0;
      }

    }
  }
}