/* No Whammies! */
#whammy-bar-container {
  background-color: #303030;
  font-family: sans-serif !important;
  font-size: 85%;
  height: 30px;
  width: 100%;
}

#whammy-bar-container ul {
  margin: 0;
}

#whammy-bar-container ul li {
  display: inline-block;
  list-style-type: none;
  border-right: 1px solid #555;
  position: relative;
}

#whammy-bar-container ul li a {
  border-left: 1px solid #333;
  color: #fff;
  display: block;
  height: 22px;
  padding-left: 10px;
  padding-top: 8px;
  padding-right: 10px;
  text-decoration: none;
}

#whammy-bar-container ul li a:hover {
  background-color: #fff;
  color: #000;
}

#whammy-bar-container ul li.user-profile,
#whammy-bar-container ul li.user-profile-picture {
  float: right;
  padding-right: 0;
  border: none;
}

#whammy-bar-container ul li.user-profile a,
#whammy-bar-container ul li.user-profile-picture a {
  border: none;
}

/* the sub menus */
#whammy-bar-container ul li div.item-list {
  box-shadow: 0 4px 4px rgba(0,0,0,0.2);
  display: none;
  min-width: 100px;
  position: absolute;
  top: 30px;
}

#whammy-bar-container ul li div.item-list ul {
  margin-left: 0; 
  background-color: #303030;
}

#whammy-bar-container ul li div.item-list ul li {
  display: block;
  padding-left: 0;
}

#whammy-bar-container ul li div.item-list ul li:hover {
  border-right: 1px solid #fff;
}

#whammy-bar-container ul li div.item-list ul li a {
  height: auto;
  padding-bottom: 6px;
}

#whammy-bar-container ul li div.item-list ul li a:hover {
  background-color: #fff;
  border-left: 1px solid #fff;
}