#admin-menu {
  font-weight: normal;
  font-size: small;
  font-family: $font-stack-arial;
  box-shadow: none !important;
  z-index: 100000000;

  * {
    color: white !important;
  }

  .dropdown .admin-menu-toolbar-category > a.active-trail {
    background: none;
  }

  li.admin-menu-account > a {
    background: none;
    color: white !important;
  }
}
