// Configuration

$big-column: 63%;
$small-column: 34%;
$column-space: 3%;

// Definitions

$font-stack-arial: Arial, Helvetica, sans-serif;
$font-stack-times:  Times, TimesNewRoman, 'Times New Roman', Baskerville, Georgia, serif;;
$font-stack-futura: FuturaPTMedium-Reg, Futura, 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;

// z-indexes



// External libraries, frameworks, etc.
@import 'lib/colors';
@import 'lib/fonts';
@import 'lib/boilerplate';
@import 'lib/boilerplate_utils';
@import 'lib/jscrollpane';
@import 'lib/chosen';
@import 'lib/slicebox';
@import 'lib/arrow_icons';
@import 'lib/responsive_utils';

/* ==========================================================================
   Imaginary theme styles
   Authors: Christoph Knoth & Konrad Renner
   ========================================================================== */

// Global styles
@import 'global/utilities';
@import 'global/basic';
@import 'global/layout';

// Global : Header
@import 'global/header/header';
@import 'global/header/user_login';
@import 'global/header/user_menu';
@import 'global/header/meta_menu';
@import 'global/header/language_switcher';
@import 'global/header/search';
@import 'global/header/main_menu';
@import 'global/header/header_responsive';

// Global : Footer
@import 'global/footer/footer';
@import 'global/footer/funders';
@import 'global/footer/menu';
@import 'global/footer/social_media';
@import 'global/footer/footer_responsive';

// Front page
@import 'front/layout';
@import 'front/about_text';
@import 'front/big_buttons';
@import 'front/events';
@import 'front/news';
@import 'front/gallery';
@import 'front/exhibitions';
@import 'front/step_guide';
@import 'front/newsletter';
@import 'front/join_create_organize';
@import 'front/latest_programs';
@import 'front/user_blog';
@import 'front/user_online';
@import 'front/slideshow';

// Sections : Common styles
@import 'sections/common/pager';
@import 'sections/common/views_common';
@import 'sections/common/content_filter';
@import 'sections/common/files';
@import 'sections/common/credits';
@import 'sections/common/pages';

// Sections
@import 'sections/discussions';
@import 'sections/user_blog';
@import 'sections/user_content';
@import 'sections/users';
@import 'sections/user_page';
@import 'sections/events';
@import 'sections/events_related';
@import 'sections/texts';
@import 'sections/galleries';
@import 'sections/galleries_related';
@import 'sections/programs';
@import 'sections/programs_related';
@import 'sections/news_related';
@import 'sections/exhibitions';
@import 'sections/films';
@import 'sections/hands_on';
@import 'sections/projects';
@import 'sections/newsletters';
@import 'sections/about';
@import 'sections/contact';
@import 'sections/entdeckerbox';
@import 'sections/search';
@import 'sections/register';
@import 'sections/roadmap';

// Backend
@import 'backend/admin_menu';
@import 'backend/tabs';
@import 'backend/vertical_tabs';
@import 'backend/node_forms';
@import 'backend/galleries';
@import 'backend/dashboard';
@import 'backend/filter_page';

