#big-buttons {
  font-family: $font-stack-futura;

  .big-button {
    width: 305px;
    height: 180px;
    float: left;
    position: relative;

    &:hover {
      img{
        opacity: 0.8;
      }
    }
  }

  .inner {
    position: relative;
  }

  .text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    text-align: center;
    width: 100%;
  }

  .background-image {
    z-index: 999;
    position: absolute;
    top: 0px;
    left: 0;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  h2 {
    font-size: 18px;
    letter-spacing: 2px;
    margin: 0;
    color:  black;
    font-weight: normal;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    text-transform: uppercase;
  }

  p {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
    color: black;
    text-align: center;
    margin: 0;
  }

  .galleries,
  .entdeckerbox {
    margin: 0 12px;
  }

  .random,
  .hands-on,
  .exhibitions,
  .africa,
  .snapshots {
    float: right;
  }

  .register,
  .big-button-darkbg {
    h2,
    p {
      color: white;
      -webkit-font-smoothing: antialiased;
    }
  }
}